* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body, html {
    width: 100%;
    height: 100%;
}


.header {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

.header .img img {
    width: 100%;
    height: auto;
    display: block;
    filter: contrast(2) brightness(0.3); 
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 29, 0, 0.85); 
    z-index: 1; 
}

.header .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    z-index: 2;
}


.admin-link {
    position: absolute;
    bottom: -80px;
    right: 0px;  
    z-index: 2;   
    color: #69FF52;
    text-decoration: underline;
    font-size: 1.1em; 
}

.admin-link:hover {
    background: rgba(255, 255, 255, 0.2); 
}


.nav {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

ul {
    display: flex;
    width: 100%;
    background-color: black;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    flex: 1; 
    height: 100%;
}

a {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%; 
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 20px; 
}


a:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}
